include mixins/block.pug
include mixins/metadata.pug
include mixins/button.pug

html
  head
    title= title
    link(rel='stylesheet' href='/style.css')
  - var generic_group_prompt = "Please answer the questions below"

  body.wrapper
    form(class = "surveyForm" action = "/survey", method = "POST")
      -console.log(max)
      -i=0
      while i <= max
        div(class='row')
          ul(class='page')
            each item, index in survey
              if item.page != i
                - continue

              - req = required
              if item.required == 'false'
                - req = false
              else if item.required == 'true'
                - req = true
              if !item.prompt || !item.response
                -continue
              if index == 0
                h2
                  if admin 
                    a(href='/') â†
                    |  
                  = item.group_prompt ? item.group_prompt : generic_group_prompt
                p * answer required for submission.
              else if survey[index-1].group_prompt != item.group_prompt
                h2= item.group_prompt ? item.group_prompt : generic_group_prompt
              +block(item, start++, req)
            +btn
          
          +metadata(task, start, session, start_time, final, check, query)
          
        - ++i
    script(src='/client.js')
    script(src='/form.js') 
    