html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body.wrapper
    h2 Thank you for completing this Survey!
    if code
      p Your response was recorded: 
      pre(class="instructions")= code
    if admin
      a(href="/") return to admin
    
    if worker_id 
      h4 Your Worker ID is: #{worker_id}
      p We will pay for your completion through a bonus on the MTurk platform.
